@keyframes appear-animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotate_dropdown_btn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
nav .input-group {
  border-radius: 5px;
  margin-bottom: 40px;
}
nav .input-group input {
  padding: 25px;
  background-color: #E7E7E7;
  border-right: none;
}
nav .input-group input:focus {
  background-color: #E7E7E7;
}
nav .input-group-append {
  display: flex;
}
nav .input-group-append span {
  background-color: #E7E7E7;
  margin: auto;
  height: 100%;
}

#ingredient .advanced-search__input input, #ingredient .advanced-search__input--icon {
  background-color: #3282F7;
  border-color: #3282F7;
}
#ingredient .dropdown {
  background-color: #3282F7 !important;
}

#appliance .advanced-search__input input, #appliance .advanced-search__input--icon {
  background-color: #68D9A4;
  border-color: #68D9A4;
}
#appliance .dropdown {
  background-color: #68D9A4 !important;
}

#ustensils .advanced-search__input input, #ustensils .advanced-search__input--icon {
  background-color: #ED6454;
  border-color: #ED6454;
}
#ustensils .dropdown {
  background-color: #ED6454 !important;
}

.advanced-search {
  margin-right: 25px;
  margin-bottom: 25px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}
.advanced-search__input {
  display: flex;
  justify-content: center;
}
.advanced-search__input input {
  padding: 30px;
  color: #FFF;
  display: flex;
  justify-content: flex-start;
  border-radius: 5px 0px 0px 5px;
}
.advanced-search__input input:focus {
  color: rgba(255, 255, 255, 0.8);
}
.advanced-search__input input:focus::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.advanced-search__input input::placeholder {
  color: #FFF;
}
.advanced-search__input--icon {
  color: #FFF;
  padding: 15px;
  margin: 0px;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}
.advanced-search__input--icon:focus {
  color: rgba(255, 255, 255, 0.8);
}
.advanced-search__input--icon:focus::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.advanced-search__input--icon::placeholder {
  color: #FFF;
}
.advanced-search .dropdown {
  display: none;
  transition: all 0.3s;
  background-color: #fff;
}
.advanced-search .dropdown .fa-chevron-down {
  animation: rotate_dropdown_btn 0.5s reverse forwards;
}
.advanced-search .dropdown .dropdownList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 15px;
  animation: appear-animate 0.3s reverse;
  transition: all 0.3s;
}
.advanced-search .dropdown .dropdownList li {
  list-style-type: none;
  width: 33%;
  overflow: hidden;
}
.advanced-search.active {
  max-width: 45%;
  margin-right: 25px;
}
.advanced-search.active .btn-toogle-dropdown {
  display: none;
}
.advanced-search.active .fa-chevron-down.replyDropBox {
  animation: rotate_dropdown_btn 0.5s forwards;
}
.advanced-search.active .dropdown {
  display: block;
  border-radius: 5px;
}
.advanced-search.active .dropdown .dropdownList {
  animation: appear-animate 0.3s;
  opacity: 1;
}
.advanced-search.active .dropdown a {
  color: #FFF;
  font-size: 85%;
  padding: 5px;
}

.card-body__heading {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
}
.card-body__heading .card-title {
  margin-right: 10px;
}
.card-body__heading .cooktime {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 0.75rem;
  min-width: fit-content;
}
.card-body__heading .cooktime .fa-clock {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
  scale: 1.1;
}
.card-body__heading .cooktime .time {
  display: flex;
  flex-wrap: nowrap;
}
.card-body__text {
  font-size: 0.85rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.card-body__text .ingredient-list {
  max-width: 60%;
}
.card-body__text .ingredient-list ul {
  padding-left: 15px;
}
.card-body__text .ingredient-list ul li {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
}
.card-body__text .ingredient-list ul li span {
  width: fit-content;
  word-wrap: none;
  overflow: visible;
}
.card-body__text .ingredient-list ul li span:first-child {
  margin-right: 5px;
}
.card-body__text .ingredient-list ul li span:nth-child(2) {
  min-width: 20%;
}
.card-body__text .description {
  max-width: 40%;
  word-wrap: normal;
}

.tags {
  margin-bottom: 15px;
}
.tags .tag {
  list-style-type: none;
  color: #FFF;
  border-radius: 5px;
  padding: 15px;
  margin-right: 10px;
}
.tags .tag--ingredient {
  background-color: #3282F7;
}
.tags .tag i {
  font-size: 1.2rem;
  margin-left: 10px;
}

.card-img-top {
  background-color: #C7BEBE;
  height: 170px;
  text-align: center;
}

@media screen and (max-width: 989px) {
  .inputSearchRow {
    flex-direction: column !important;
  }
  .inputSearchRow .advanced-search {
    margin-right: unset;
    max-width: 98% !important;
  }
  .inputSearchRow .advanced-search.active {
    margin-right: unset;
  }
  .inputSearchRow .advanced-search,
.inputSearchRow .dropdown {
    margin-right: unset;
  }

  .card-deck .card {
    min-width: 40%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .card-deck .card {
    min-width: 90%;
    margin: auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 989px) {
  .card-deck .card {
    min-width: 30%;
    max-width: 30%;
    margin-bottom: 30px;
  }
}
html {
  font-size: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

* {
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "DM Sans", sans-serif;
  color: #D04F4F;
}

.text-bolder {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
