nav .input-group {
    border-radius: 5px;
    margin-bottom: 40px;

    input {
        padding: 25px;
        background-color: $bg-gray-light;
        border-right: none;

        &:focus {
            background-color: $bg-gray-light;
        }
    }

    &-append {
        display: flex;

        span {
            background-color: $bg-gray-light;
            margin: auto;
            height: 100%;
        }
    }
}




#ingredient {
    .advanced-search {
        &__input {

            input,
            &--icon {
                background-color: $ingredient-bg;
                border-color: $ingredient-bg;
            }
        }
    }

    .dropdown {
        background-color: $ingredient-bg !important;

        .dropdownList a:hover,
        .dropdownList a:focus {
            color: darken($color: $ingredient-bg, $amount: 20);
        }
    }
}

#appliance {
    .advanced-search {
        &__input {

            input,
            &--icon {
                background-color: $appliance-bg;
                border-color: $appliance-bg;
            }
        }
    }

    .dropdown {
        background-color: $appliance-bg !important;

        .dropdownList a:hover,
        .dropdownList a:focus {
            color: darken($color: $appliance-bg, $amount: 20);
        }
    }
}

#ustensil {
    .advanced-search {
        &__input {

            input,
            &--icon {
                background-color: $ustensil-bg;
                border-color: $ustensil-bg;
            }
        }
    }

    .dropdown {
        background-color: $ustensil-bg !important;

        .dropdownList a:hover,
        .dropdownList a:focus {
            color: darken($color: $ustensil-bg, $amount: 20);
        }
    }
}

.advanced-search {
    &:not(:last-child) {
        margin-right: 25px;
    }

    margin-bottom: 25px;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    transition: all .3s;

    &__input {
        display: flex;
        justify-content: center;

        input {
            padding: 30px;
            @include inputText;
            display: flex;
            justify-content: flex-start;
            border-radius: 5px 0px 0px 5px;
        }

        &--icon {
            @include inputText;
            padding: 15px;
            margin: 0px;
            border-radius: 0px 5px 5px 0px;
            cursor: pointer;
        }
    }

    .dropdown {
        display: none;
        transition: all .3s reverse;
        background-color: #fff;

        animation: appear-animate .3s reverse;

        .fa-chevron-down {
            animation: rotate_dropdown_btn 0.5s reverse forwards;
        }

        .dropdownList {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-right: 15px;
            animation: appear-animate .3s reverse;
            transition: all .3s;

            li {
                list-style-type: none;
                width: 33%;
                overflow: hidden;
            }
        }
    }

    &.active {
        max-width: fit-content;
        width: 54%;

        .btn-toogle-dropdown {
            display: none;
        }

        .fa-chevron-down.replyDropBox {
            animation: rotate_dropdown_btn 0.5s forwards;
        }

        .dropdown {
            display: block;
            border-radius: 5px;
            animation: appear-animate .3s;
            .dropdownList {
                animation: appear-animate .3s;
                opacity: 1;
            }

            li {
                width: 33%;
                min-width: fit-content

            }

            a {
                color: #FFF;
                font-size: 85%;
                padding: 5px;
                border-radius: 5px;
                text-transform: capitalize;
                width: fit-content;

                &:hover,
                &:focus {
                    font-weight: bold;
                }
            }
        }



    }
}

.card {
    &-body {
        &__heading {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            padding-right: 15px;
            padding-left: 15px;

            .card-title {
                margin-right: 10px;
            }

            .cooktime {
                display: flex;
                justify-content: space-between;
                font-weight: bold;
                font-size: 1.25rem;
                line-height: 1.2;
                margin-bottom: .75rem;
                min-width: fit-content;

                .fa-clock {
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-right: 5px;
                    scale: 1.1;
                }

                .time {
                    display: flex;
                    flex-wrap: nowrap;
                }
            }
        }

        &__text {
            font-size: 0.85rem;
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;

            .ingredient-list {
                max-width: 60%;

                ul {
                    padding-left: 15px;

                    li {
                        list-style: none;
                        display: flex;
                        flex-wrap: nowrap;
                        opacity: 1;
                        transition: opacity 1.3s;

                        span {
                            width: fit-content;
                            word-wrap: none;
                            overflow: visible;

                            // margin-right: 5px;
                            &:first-child {
                                margin-right: 5px;
                            }

                            &:nth-child(2) {
                                min-width: 20%;
                            }
                        }
                    }
                }

            }

            .description {
                max-width: 40%;
                word-wrap: normal;


            }

        }
    }
}




.tags {
    margin-bottom: 15px;

    .tag {
        list-style-type: none;
        color: #FFF;

        border-radius: 5px;
        padding: 15px;
        margin-right: 10px;
        margin-bottom: 10px;
        text-transform: capitalize;

        &--ingredient {
            background-color: $ingredient-bg;
        }

        &--appliance {
            background-color: $appliance-bg;
        }

        &--ustensil {
            background-color: $ustensil-bg;
        }

        i {
            font-size: 1.2rem;
            margin-left: 10px;
            cursor: pointer;
            transition: all .3s;

            :hover {
                transform: scale(1.1);
            }
        }
    }
}


.card-img-top {
    background-color: #C7BEBE;
    height: 170px;
    text-align: center;
}